[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
python-dotenv = "*"
slack-bolt = "*"
mecab-python3 = "*"
numpy = "*"
nltk = "*"
pysummarization = "*"

unidic-lite = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
